@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  direction: ltr;
  font-family: "Source Serif Pro";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
li a.active {
  color: #6bb42f!important;
  background-color: white!important;
  border-bottom: 2px solid #6bb42f;
  font-weight: bold;
}

.swiper-pagination-bullet-active {
  background-color: #6bb42f;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-tabs__tab--selected {
  color: #6bb42f !important;
  border: 0 !important;
  font-weight: bold !important;
  border-bottom: 2px solid #6bb42f !important;

}
ul[role='navigation']{
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-bottom: 40px;
}
ul[role='navigation'] li{
padding: 4px 10px;
border-radius: 4px;
border: 1px solid black;

}
ul[role='navigation'] li.selected{
  background-color: #6bb42f;
  color: white;
}
ul[role='navigation'] li.disabled{
  display: none;
}

