@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  direction: ltr;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.swiper-pagination-bullet-active{
 background-color: #6bb42f;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}